body {
    margin: 0px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.calculator {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 310px;
    background-color: royalblue;
    border-radius: 1em;
}

.screen {
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    height: 80px;
    width: 280px;
    border-radius: 1em;
    display: flex;
    justify-content: right;
}

.screen-data {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 30px;
    font-family: Arial;
}

.button {
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 2em;
    border: none;
    font-size: 20px;
}

.button:hover {
    opacity: 90%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.division-button, .multiply-button, .add-button, .equal-button {
    background-color: orange;
}

.zero-button {
    width: 125px;
}