body {
    margin: 0px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.calculator {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 325px;
    background-color: royalblue;
    border-radius: 1em;
}

.screen {
    background-color: white;
    height: 80px;
    width: 300px;
    margin-top: 20px;
    border-radius: 1em;
    display: flex;
    justify-content: right;
}

.screen-data {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 30px;
    font-family: Arial;
}